/* svg {
  transform: rotate(-90deg);
  background: yellowgreen;
  border-radius: 50%;
}*/

$primaryColor: #0074d9

circle {
    fill: #ddd;
    stroke: $primaryColor;
    stroke-width: 50;
    stroke-dasharray: 0 158;
    transition: stroke-dasharray .3s ease;
}

svg {
    margin: 0 auto;
    transform: rotate(-90deg);
    background: #ddd;
    border-radius: 50%;
    display: block;
}