body {
  background-image: url("papyrus.jpg");
}
header {
    text-align: center;
    opacity: 1;
    font-weight: bold;
}
nav {
    background-color: antiquewhite;
    opacity: 0.7;
    text-align: center;
    border-bottom-style: solid;
    border-width: 2px;
    border-top-color: white;
    border-color: black;
    margin: 0px;
    font-size: 24px;
}
nav ul {
    margin: 0;
    padding: 0;
}
nav ul li {
    display: inline-block;
    list-style-type: none;
}
li { 
    padding-left:35px;
}

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}
a:hover {
    text-decoration: underline;
    color: darkblue;
}
a:active {
 text-decoration: underline;   
 color: darkblue;
}

h1 {
   padding-top: 5%;
   font-size: 48px;
    opacity: 1;
    text-align: center;
    font-family: Papyrus, fantasy; font-size: 70px; font-style: normal; font-variant: normal; font-weight: bold; line-height: 26px;
}



h2 {
    font-size: 26px;
    text-align: left;
}


h3 {
    font-size: 18px;
    text-align: left;
}
p {
    font-size: 17px;
    opacity: 1;
    text-indent: 50px
}
#header {
    
    opacity: 1;
    display: flex;
    text-align: center;
}
#pageBody {
    padding-left:10%;
    padding-right:10%;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-left: 10%;
    margin-right: 10%;
       background-color: rgba(245, 222, 179, 0.6);

    }


#pagecontent{
   background-color: rgba(245, 222, 179, 0.6);
   padding-left:10%;
    padding-right:10%;
    opacity: 1;
}

.center{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
/* I haven't been able to figure out how to get rid of the black border on the top and bottom */