body {
  background-image: url("papyrus.jpg");
}
header {
    text-align: center;
    opacity: 1;
    font-weight: bold;
}
nav {
    background-color: antiquewhite;
    opacity: 0.7;
    text-align: center;
    border-bottom-style: solid;
    border-width: 2px;
    border-top-color: white;
    border-color: lightblue;
    margin: 0px;
    font-size: 24px;
}
nav ul {
    margin: 0;
    padding: 0;
}
nav ul li {
    display: inline-block;
    list-style-type: none;
}
li { 
    padding-left:35px;
}

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}
a:hover {
    text-decoration: underline;
    color: darkblue;
}
a:active {
 text-decoration: underline;   
 color: darkblue;
}

h1 {
    font-size: 48px;
    opacity: 1;
    text-align: center;
}



h2 {
    font-size: 26px;
    text-align: left;
}


h3 {
    font-size: 18px;
    text-align: left;
}
p {
    font-size: 17px;
    opacity: 1;
    text-indent: 50px
}
#header {
    
    opacity: 1;
    display: flex;
    text-align: center;
}
#pageBody {
    padding-left:20%;
    padding-right:20%;
    padding-top: 5%;
    padding-bottom: 5%;
    border-style: solid;
    border-left-color: lightblue;
    border-right-color: lightblue;
    border-top-style: none;
    border-bottom-style: none;
    border-width: 6px;
    margin-left: 10%;
    margin-right: 10%
}

#pagecontent{
    background-color:wheat;
    opacity: 1;
}
/* I haven't been able to figure out how to get rid of the black border on the top and bottom */